REDDIT_CLIENT_ID=r30D7VvkUutFJtuQ4YNRsg
REDDIT_CLIENT_SECRET=W4e7mRPBHTtPmkS7ui5P60HgFbVX_A
REDDIT_USER_AGENT=desktop:stocksentiment:v1.0.0
REDDIT_USERNAME=Professional-Skin424
REDDIT_PASSWORD=Phh20001007!